@model Post
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="navbar-container">
</div>
<div class="main-container">
    <section class="space-sm">
        <div class="container">
            <div class="row mb-5">
                <!--end of col-->
            </div>
            <!--end of row-->
            <div class="row flex-md-row card card-md">
                <div class="card-body bg-secondary">
                    <div class="text-center mb-5">
                        <h1 class="h2 mb-2">Add a new post</h1>
                        <span>Temporary PoC. Not for everyone to use.</span>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-5">
                            <form method="post" asp-action="Create">
                                <input type="hidden" id="Id" name="Id" asp-for="Id" />
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input asp-for="Title" class="form-control form-control-lg" placeholder="Title" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                            <textarea asp-for="Summary" class="form-control form-control-lg" placeholder="Summary" rows="2"></textarea>
                                            <span asp-validation-for="Summary" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                            <textarea asp-for="Body" class="form-control form-control-lg" placeholder="Post" rows="10"></textarea>
                                            <span asp-validation-for="Body" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input asp-for="PeopleId" class="form-control form-control-lg" placeholder="PeopleId" />
                                            <span asp-validation-for="PeopleId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <button class="btn btn-block btn-success btn-lg" type="submit">Post</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
</div>